<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books!!</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/icons.css">
</head>

<body>
    <div class="topnav">
        <h1>Best Books!</h1>
        <div id="myLinks">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/searches/new">Search Book</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <% bookArr.forEach(book => { %>
        <div id="book_results">
            <img src="<%= book.image_url %>" alt="" />
            <h3>Title: <%= book.title %></h3>
            <h3>Authors: <%= book.author %></h3>
            <p><%= book.description %></p>
            <h3>ISBN: <%= book.isbn %></h3>
            <h3>Bookshelf: <%= book.bookshelf %></h3>
            <button><a href="/books/<%= book.id %>">View Details</a></button>
        </div>
        <% }) %>
    </div>
    <p>There are a total of <%= totalrow %> books!</p>
    <footer>
    </footer>
</body>

</html>